html {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h1 {
    text-align: center;
    font-size:2.6rem;
}

.search-container {
    width:100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:2rem;
}

.search-container input {
    width:90%;
    padding:1rem
}

.search-container button {
    padding:1rem;
    background-color: black;
    color:white;
}


.articles-container{
    width:100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.articles-container img {
    width:100%;
   margin-top: 5px;
}

/* Loader */

.loader {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(255, 255, 255, 0.8)
 }
 
 .loader img {
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
 }